.item-content {
  display: flex;
  padding-top: px2rem(15px);
  padding-bottom: px2rem(15px);
  margin-left: px2rem(10px);
  margin-right: px2rem(10px);
  color: #656565;
  &::after {
    background-color: #e4e4e4;
  }
  .item-img {
    width: px2rem(86px);
    height: px2rem(65px);
    border: 1px solid #e4e4e4;
  }
  .item-info-content {
    flex: 1;
    margin-left: px2rem(7px);
  }
  .brand {
    position: absolute;
    left: 1px;
    top: 16px;
    font-size: 12px;
    padding: 2px;
    color: #ffffff;
  }
  .brand-pin {
    background-color: #ffa627;
  }
  .brand-xin {
    background-color: #21c56c;
  }
  .item-title {
    margin-top: 3px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }
  .item-desc {
    margin-top: 13px;
    font-size: 12px;
  }
  .star {
    width: 10px;
    height: 10px;
    float: left;
    background-size: cover;
  }
  .fullstar {
    background-image: url(./img/fullstar.png);
  }
  .halfstar {
    background-image: url(./img/halfstar.png);
  }
  .nullstar {
    background-image: url(./img/gray-star.png);
  }
  .item-score {
    float: left;
  }
  .item-count {
    float: left;
    margin-left: 5px;
  }
  .item-time {
    float: right;
  }
  .item-distance {
    float: right;
  }
  .item-price {
    margin-top: 10px;
    font-size: 12px;
    height: 24px; 
  }
  .item-pre-price {
    float: left;
  }
}