body {
  min-height: 100%;
  background-color: #efefef;
  color: #2f2f2f;
}

.content {
  height: 100%;
  .eva-content {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    margin-top: 74px;
  }
  .star-area {

  }
  .star-item {
    
  }
}